
object CheckCommand "polkadot_release" {
	import "plugin-check-command"

	command = [ PluginContribDir + "/check_polkadot_release" ]

	arguments = {
		"--server" = "$polkadot_release_server$"
		"--port" = "$polkadot_release_port$"
		"--since-release-warn" = "$polkadot_release_since_release_warn$"
		"--since-release-crit" = "$polkadot_release_since_release_crit$"
		"--verbose" = {
			set_if = "$polkadot_release_verbose$"
		}
	}

	vars.polkadot_release_server = "localhost"
	vars.polkadot_release_port = 9944
}
