
object CheckCommand "polkadot_validator_active" {
	import "plugin-check-command"

	command = [ PluginContribDir + "/check_polkadot_validator_active" ]

	arguments = {
		"--server" = "$polkadot_validator_active_server$"
		"--port" = "$polkadot_validator_active_port$"
		"--warn-is-syncing" = {
			set_if = "$polkadot_validator_active_warn_is_syncing$"
		}
		"--min-peers" = "$polkadot_validator_active_min_peers$"
		"--max-distance-warn" = "$polkadot_validator_active_max_distance_warn$"
		"--max-distance-crit" = "$polkadot_validator_active_max_distance_crit$"
		"--best-timeout" = "$polkadot_validator_active_best_timeout$"
		"--finalized-timeout" = "$polkadot_validator_active_finalized_timeout$"
		"--verbose" = {
			set_if = "$polkadot_validator_active_verbose$"
		}
	}

	vars.polkadot_validator_active_server = "localhost"
	vars.polkadot_validator_active_port = 9944
}
